// Import page-specific CSS files here.
@import "home";
$red: red;
$spacer: 8px;

body {
  background: $red;
}

h1 {
  color: blue;
}

.container {
  display: flex;
  justify-content: space-evenly;

}
